/*
 * Estilos reutilizables
 */

.primero-mayus{

  text-transform: capitalize;
}

.mayus{
  text-transform: uppercase;
}

.inline{
  display: inline-flex;
}

.color-white{
  color:#FFFFFF;
}

.color-blue{
  color: #2C3E50;
}

.left{
  text-align: left;
}

.right{
  text-align: right;
}

.column-centrada{
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.column-start{
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.row::before,
.row::after{
  content: " ";
  display: table;
  padding: 6px;
}

[class*= "col-"]{
  min-height: 7px;
  padding: 11px;
}

.medida{
  height: 287px;
}

.col-4{
  width: 33.3333333333%;
}

.titulo-h2{
  margin-top:109px;
  margin-bottom: 10px;
  font-size: 3em;
}
